h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s;
}

.container a:hover {
    background-size: 100% 1px;
}
